<div class="container mt-5">
    <div *ngIf="image" class="row animate__animated animate__bounce animate__fadeIn">
        <div class="col-md-9">
            <p><strong>Author:</strong> {{image.author}}</p>
            <mat-expansion-panel (opened)="showDetails = true" (closed)="showDetails = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Details
                    </mat-panel-title>
                    <mat-panel-description>
                        {{showDetails ? 'Hide details' : 'Show details'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p><strong>Identifier:</strong> {{image.id}}</p>
                <p><strong>Size:</strong> {{image.width}}</p>
                <p><strong>Url:</strong><a href="{{image.url}}"> {{image.url}}</a></p>
                <p><strong>Download url:</strong><a href="{{image.download_url}}"> {{image.download_url}}</a></p>
                <p><strong>Width:</strong> {{image.width}}</p>
                <p><strong>Height:</strong> {{image.height}}</p>
            </mat-expansion-panel>
            <img style="width: 80%; height: 80%" class="rounded" src="{{image.download_url}}" alt="">
        </div>

        <div class="buttons col-md-3">
            <a class="btn btn-danger" routerLink="/">Back</a>
        </div>
    </div>
</div>